.App {
  background: linear-gradient(#e48484, #dfd1d1);
  padding: 20px;
  min-height: 100vh;
  max-width: 100vw;
}

.header {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header > div {
  margin: 10px;
}

.pokeballLogo {
  width: 150px;
  height: 100px;
}
.sandlogo {
  width: 150px;
  height: 150px;
}

.searchBar {
  background-color: #1c1c1e;
  height: 50px;
  flex: 1;
  display: flex;
  border-radius: 50px;
  align-items: center;
}

.searchIconContainer {
  margin: 10px;
}

.searchInput {
  background-color: transparent;
  border: none;
  width: 100%;
  outline: none;
  color: #eee;
  font-size: 16px;
}

.pokemonCard {
  color: white;
  background-color: #1c1c1e;
  border-radius: 50px;
  overflow: hidden;
  width: 300px;
  height: 500px;
  margin: auto;
  border: 3px solid grey;
  padding: 10px;
}

.details {
  padding: 10px;
  background-color: #1c1c1e;
}

.pokemonCard > img {
  width: 100%;
}

.priceContainer {
  display: flex;
  align-items: center;
  margin-top: 10px;
  object-fit: contain;
}
